---
import type { MarkdownLayoutProps } from "astro";
import GlobalLayout from "./global.astro";

import contentStyles from "../styles/content.module.scss";

import LunaizLogo from "../components/LunaizLogo.astro";
import ButtonGroup from "../components/ButtonGroup.astro";

// Custom Styles
import customKannaStyles from "../styles/custom/thankyou-kanna.scss?raw";

type Props = MarkdownLayoutProps<{
  title: string;
  meta_title: string;
  show_footer: boolean;
}>;

const { frontmatter } = Astro.props;
const { pathname } = Astro.url;
---

<GlobalLayout title={frontmatter.meta_title}>
  <main>
    <section class={contentStyles.container}>
      <h1 class={contentStyles.title} set:html={frontmatter.title} />

      <article
        class={contentStyles.message}
        style={{ whiteSpace: "pre-wrap", marginBlockEnd: "1em" }}
      >
        <slot />
      </article>
    </section>

    {frontmatter.show_footer != false && (
      <ButtonGroup>
        <LunaizLogo />
      </ButtonGroup>
    )}

    {/* 페이지 별 커스텀 style */}
    {pathname.split("/")[3] === "thankyou-kanna" && (
      <style is:inline set:html={customKannaStyles} />
      <video src="https://allpgs.github.io/kanna-the-finale-files/videos/background.mp4" muted loop playsinline autoplay></video>
    )}
  </main>
</GlobalLayout>
