---
import type { MarkdownLayoutProps } from "astro";
import GlobalLayout from "./global.astro";

import contentStyles from "../styles/content.module.scss";
import pmStyles from "../styles/pm.module.scss";

import ButtonGroup from "../components/ButtonGroup.astro";

import $t from "../locales/layouts/pm.json";

enum EPmLevel {
  PLANNED = "planned",
  EMERGENCY = "emergency",
}

type Props = MarkdownLayoutProps<{
  level: EPmLevel;
  pm_time: string;
  uptime_id: number;
}>;

const { frontmatter } = Astro.props;

// Check current locale by parsing the URL
const locale = Astro.url.pathname.includes("/global") ? "en" : "ko";
---

<GlobalLayout title={$t[locale].title[frontmatter.level]}>
  <main>
    <section class={contentStyles.container}>
      <h1 class={contentStyles.title}>
        {$t[locale].title[frontmatter.level]}
      </h1>

      <p
        class={contentStyles.message}
        style={{ whiteSpace: "pre-wrap", marginBlockEnd: "1em" }}
      >
        {$t[locale].message}
      </p>

      <div>
        <h2 class={pmStyles.title}>{$t[locale].detail.time}</h2>
        <p class={pmStyles.content}>{frontmatter.pm_time}</p>

        <h2 class={pmStyles.title}>{$t[locale].detail.content}</h2>
        <article class={pmStyles.content}>
          <slot />
        </article>

        <p
          class={pmStyles.content}
          style={{ marginTop: "38px", fontSize: "12px" }}
        >
          {
            $t[locale].detail.notice.map((notice) => (
              <>
                · {notice.replaceAll("{EMAIL}", "official@lunaiz.com")}
                <br />
              </>
            ))
          }
        </p>
      </div>
    </section>
    
    <ButtonGroup>
      <button id="back-btn">{$t[locale].buttons.back}</button>
      <a
        href={`https://status.lunaiz.com/${locale === "ko" ? "ko/" : ""}incident/${frontmatter.uptime_id}`}
        role="button"
        target="_blank"
        rel="norefferer"
      >
        {$t[locale].buttons.notice}
      </a>
    </ButtonGroup>
  </main>

  <script>
    document.querySelector("#back-btn")!.addEventListener("click", () => {
      window.history.go(-1);
    });
  </script>
</GlobalLayout>
