---
import type { MarkdownLayoutProps } from "astro";
import GlobalLayout from "./global.astro";

import $t from "../locales/layouts/pm.json";

import "../styles/content.css";

enum EPmLevel {
  PLANNED = "planned",
  EMERGENCY = "emergency",
}

type Props = MarkdownLayoutProps<{
  level: EPmLevel;
  pm_time: string;
  uptime_id: number;
}>;

const { frontmatter } = Astro.props;

// Check current locale by parsing the URL
const locale = Astro.url.pathname.includes("/korea") ? "ko" : "en";
---

<GlobalLayout>
  <style lang="scss">
    .container {
      .message {
        white-space: pre-wrap;
      }
    }

    .detail {
      h2.pm-title {
        color: #17191c;
        text-align: center;
        font-size: 16px;
        font-weight: 500;

        margin-top: 24px;
      }

      p.pm-content,
      article.pm-content {
        color: #757b8a;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
      }

      @media (prefers-color-scheme: dark) {
        h2.pm-title {
          color: #e2e4e9;
        }

        p.pm-content,
        article.pm-content {
          color: #9196a1;
        }
      }
    }
  </style>

  <main>
    <section class="container">
      <h1 class="title">
        {$t[locale].title[frontmatter.level]}
      </h1>

      <p class="message">
        {$t[locale].message}
      </p>

      <div class="detail">
        <h2 class="pm-title">{$t[locale].detail.time}</h2>
        <p class="pm-content">{frontmatter.pm_time}</p>

        <h2 class="pm-title">{$t[locale].detail.content}</h2>
        <article class="pm-content">
          <slot />
        </article>

        <p class="pm-content" style="margin-top: 38px; font-size: 12px;">
          {
            $t[locale].detail.notice.map((notice) => (
              <>
                · {notice.replaceAll("{EMAIL}", "official@lunaiz.com")}
                <br />
              </>
            ))
          }
        </p>
      </div>
    </section>

    <section class="btn-area">
      <button class="back-btn">{$t[locale].buttons.back}</button>
      <a
        href={`https://status.lunaiz.com/${locale === "ko" ? "ko/" : ""}incident/${frontmatter.uptime_id}`}
        role="button"
        target="_blank"
        rel="norefferer"
      >
        {$t[locale].buttons.notice}
      </a>
    </section>
  </main>

  <script>
    document.querySelector(".back-btn")!.addEventListener("click", () => {
      window.history.go(-1);
    });
  </script>
</GlobalLayout>
